body {
  background-color: gainsboro;
}
.header {
  text-align: center;
}
img {
  margin: 9px 0px;
  width: 783px;
  height: 249px;
}
.jarzan {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 0px;
  border-radius: 19px;
  text-align: center;
  padding: 5px;
  line-height: 1;
  width: 293px;
}
.sidebar-image{
  width: 300px;
  height: 200px;
}
h4{

    background-color: white;
    margin-top: 5px;
    margin-bottom: 13px;
    border-radius: 19px;
    text-align: center;
    padding: 5px;
    line-height: 1;
    width: 293px;
}
.be-good{  
  width: 100px;
  height: 75px;
  display: inline;

}
p.helpme {
  display: inline;
}
.products {
  background-color: white;
  width: 300px;
}
h5 {
  background-color: azure;
  padding: 8px;
  border-radius: 21px;
  width: 301px;
  text-align: center;
}
.my-footer{  
  height: 68px;
  margin-top: 30px;
  background-color: beige;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (max-width:1200px){
  img.content-img{
    width: 655px;
  }
}
@media only screen and (max-width:767px){
  img.content-img{
    width: 560px;
  }
  .mohtava{
    text-align: center;
  }
}
@media only screen and (min-width:200px) and (max-width:600px) {
  img.content-img{
    width: 560px;
  }
  .mohtava{
    width: 545px;
  }
  .header{
    width: 545px;
  }
}
@media only screen and (min-width:300px) and (max-width:700px) {
  .my-footer{
    width: 552px;
  }
}

@media only screen and (max-width:991px) {

  p.text1 {
    width: 306px;
  }
  .move-center {
    position: relative;
    left: 150px;
  }
  }